<h1>Welcome to the game show page</h1>
<%= @game.id %>
It's <%= @game.current_player.nickname %>'s turn

<br><br>


<% @game.users.each do |user| %>
<%= user.nickname %> has <%= user.money %> coins <br>

<% end %>
<br>
<% if @game.current_player == current_user %>
	<form action="<%= take_income_url %>" method="get">
	<input type="submit" value="Take Income" id="inc" 
	onclick="DisableButton(this);">
	</form>
	<form action="<%= take_foreign_aid_url %>" method="get">
	<input type="submit" value="Take Foreign Aid" id="frg" onclick="DisableButton(this);" >
	</form>
	<form action="<%= tax_url %>" method="get">
	<input type="submit" value="Take Tax" id="tax" onclick="DisableButton(this);">
	</form>


	<form action="<%= steal_url %>" method="post">
		<select name="opponent">
			<% (@game.users - [current_user]).each do |user| %>	
  			Steal From: <option><%= user.nickname %></option>	<br>
			<% end %>
		</select>
		<input type="submit" value="Steal" id="stl" onclick="DisableButton(this);">
	</form>
	</form>


<% end %>

<script>
	var channel = pusher.subscribe('game_channel');
	channel.bind('game_data', function(data) {
		if (data.message[0] == "t"){    //a turn ended
			console.log("meassage of turn ending received")
			location.reload();
		}
	})
  	function DisableButton(b)
   	{
   	  var ids = ['inc', 'frg', 'tax', 'stl'];
      b.disabled = true;
      b.value = 'Submitting';
      b.form.submit();
      for (id in ids){
      	if (getElementById(id) != b){
      		getElementById(id).disabled=true;
      	}
      }

   	}

</script>