<h2 class="game-title"> Game  </h2>

<div class="game-data">
<% @game.users.each do |user| %>
<%= user.nickname %> has <%= user.cards.length %> cards
and <%= user.money %> coins <br>
<% end %>
Revealed Cards:<br>
<% @game.cards.select{|card| card.is_dead}.each do |card| %>
	<%= card.card_type %>
<% end %>
<ul class="log">
<% log = @game.log.split('.') %>
<% fifth_to_last = [log.length-5,0].max %>
<% log[fifth_to_last..log.length-1].each do |word| %>
	<li><%= word %></li>
<% end %>
</ul>

</div>
<br>

<div class="input">
	<% if @game.current_player == current_user && @game.active_player == current_user %>
		<%= render(:partial => "games/your_turn") %> 
		<!-- contains logic for moves you can make on your turn -->
	<% end %>
	<div class="hidden" id="reactToCoup">
		<%= render(:partial => "games/react_to_coup") %>
	</div>
	<div class="hidden" id="reactToAssassin">
		<%= render(:partial => "games/react_to_assassin") %>
	</div><br>

	<div class="hidden" id="reactToFailedChallenge">
		<%= render(:partial => "games/react_to_failed_challenge") %>
	</div><br>
	<div class="hidden" id="bluffCalled">
		<%= render(:partial => "games/bluff_called") %>
	</div>


	<div class="hidden" id="claimContessa">
		Or 
		<form action="<%= block_url %>" method="post">
			<input type="hidden" value="Contessa" name="card">
			<input type="submit" value="claim contessa">			
		</form>
		Or 
		<button id="challenge" onclick="challenge('Assassin', 'Assassination'); DisableButton(this);">Challenge</button>
		Or
	</div>
	<div class="hidden" id="reactToTheft">
		<%= render(:partial => "games/react_to_theft") %>
	</div>
	<div class="hidden" id="reactToForeignAid">
		<%= render(:partial => "games/react_to_foreign_aid") %>
	</div>
	<div class="hidden" id="reactToTax">
		<%= render(:partial => "games/react_to_tax") %>
	</div>
	<div class="hidden" id="reactToSuccessfulChallenge">
		<%= render(:partial => "games/react_to_successfull_challenge") %>
	</div>

	<div id="displayBlockInfo">

	</div>

	<div class="hidden" id="reactToBlockContessa">
		<%= render(:partial => "games/react_to_block", locals: {card: "Contessa"}) %>
	</div>
	<div class="hidden" id="reactToBlockForeignAid">
		<%= render(:partial => "games/react_to_block", locals: {card: "Duke"}) %>
	</div>
	<div class="hidden" id="reactToBlockTheftCaptin">
		<%= render(:partial => "games/react_to_block", locals: {card: "Captin"}) %>
	</div>
	<div class="hidden" id="reactToBlockTheftAmbassador">
		<%= render(:partial => "games/react_to_block", locals: {card: "Ambassador"}) %>
	</div>
	<div class="hidden" id="reactToExchange">
		<%= render(:partial => "games/react_to_exchange") %>
	</div>
</div>

<div class="your-cards">
Your Cards: <br>
<% if current_user.cards.length > 0 %>
	<% current_user.cards.each do |card| %>
		<%= card.card_type %>
	<% end %>
<% else %>
	<script>
	location.reload();
	</script>
<% end %>
</div>

<script>
window["channel: " + <%= @game.id %>] = pusher.subscribe("game_channel_number_" + <%= @game.id %>);

window["channel: " + <%= @game.id %>].bind('game_data_for_' + <%= @game.id %>, function(data) {
	if (data.message[0] == "t"){    //a turn ended
		location.reload();
	}
	if (data.message[0] == "c"){    //cards finished dealing
		location.reload();	
	}

	if (((JSON.parse(data.message)).action === "coup") && ((JSON.parse(data.message)).opponent == '<%= current_user.nickname %>')){
		 document.getElementById('reactToCoup').className = ""
	}
	if (((JSON.parse(data.message)).action === "assassin") && ((JSON.parse(data.message)).opponent == '<%= current_user.nickname %>')){
		 document.getElementById('reactToAssassin').className = ""
		 document.getElementById('claimContessa').className = ""
	}
	if (((JSON.parse(data.message)).action === "theft") && ((JSON.parse(data.message)).opponent == '<%= current_user.nickname %>')){
		document.getElementById('reactToTheft').className = ""
	}
	if (((JSON.parse(data.message)).action === "foreign aid") && ((JSON.parse(data.message)).opponent != '<%= current_user.nickname %>')){
		 document.getElementById('reactToForeignAid').className = ""
	}
	if (((JSON.parse(data.message)).result === "fail") && ((JSON.parse(data.message)).player === "<%= current_user.nickname %>")){
		document.getElementById('reactToFailedChallenge').className = "";
	}
	if (((JSON.parse(data.message)).result === "succeede") && ((JSON.parse(data.message)).player === "<%= current_user.nickname %>")){
		document.getElementById('reactToSuccessfulChallenge').className = "";
	}
	if (((JSON.parse(data.message)).action === "tax") && ((JSON.parse(data.message)).opponent != '<%= current_user.nickname %>')){
		 document.getElementById('reactToTax').className = ""
	}
	if ((JSON.parse(data.message)).action === "block"){
		var infoString = (JSON.parse(data.message)).opponent + " blocks with " + (JSON.parse(data.message)).card
		document.getElementById('displayBlockInfo').innerHTML = infoString

	}
	if (((JSON.parse(data.message)).action === "block") && ((JSON.parse(data.message)).opponent != '<%= current_user.nickname %>') &&  (JSON.parse(data.message)).card == 'Contessa'){
		 document.getElementById('reactToBlockContessa').className = ""
	}
	if (((JSON.parse(data.message)).action === "block") && ((JSON.parse(data.message)).opponent != '<%= current_user.nickname %>') &&  (JSON.parse(data.message)).card == 'Duke'){
		 document.getElementById('reactToBlockForeignAid').className = ""
	}
	if (((JSON.parse(data.message)).action === "block") && ((JSON.parse(data.message)).opponent != '<%= current_user.nickname %>') &&  (JSON.parse(data.message)).card == 'Captin'){
		 document.getElementById('reactToBlockTheftCaptin').className = ""
	}
	if (((JSON.parse(data.message)).action === "block") && ((JSON.parse(data.message)).opponent != '<%= current_user.nickname %>') &&  (JSON.parse(data.message)).card == 'Ambassador'){
		 document.getElementById('reactToBlockTheftAmbassador').className = ""
	}
	if (((JSON.parse(data.message)).action === "exchange") && ((JSON.parse(data.message)).opponent != '<%= current_user.nickname %>')){
		 document.getElementById('reactToExchange').className = ""
	}

	console.log(data.message)
})
function challenge(card, action){
   	$.ajax({
        type: "POST",
        url: "<%= challenge_url %>",
       	data: {
         	card: card,
         	game_action: action
        }
    })
}
</script>

