<h1>Welcome to the game show page</h1>
<%= @game.id %>
It's <%= @game.current_player.nickname %>'s turn

<br><br>


<% @game.users.each do |user| %>
<%= user.nickname %> has <%= user.money %> coins <br>

<% end %>
<br>
<% if @game.current_player == current_user %>
<form action="<%= take_income_url %>" method="get">
<input type="submit" value="Take Income">
</form>
<% end %>

<script>
	var channel = pusher.subscribe('game_channel');
	channel.bind('game_data', function(data) {
		if (data.message[0] == "t"){    //a turn ended
			console.log("meassage of turn ending received")
			location.reload();
		}
	})
</script>