<h2 class="game-title"> Game  </h2>
<div class="game-data">
<% @game.users.each do |user| %>
<%= user.nickname %> has <%= user.cards.length %> cards
and <%= user.money %> coins <br>
<% end %>
Revealed Cards:<br>
<% @game.cards.select{|card| card.is_dead}.each do |card| %>
	<%= card.card_type %>
<% end %>
<ul class="log">
<% log = @game.log.split('.') %>
<% fifth_to_last = [log.length-5,0].max %>
<% log[fifth_to_last..log.length-1].each do |word| %>
	<li><%= word %></li>
<% end %>
</ul>
</div>
<br>
<div class="cheat-sheet">
	<table>
		<tr>
			<th>
				Character
			</th>
			<th>
				Action
			</th>
			<th>
				Effect
			</th>
			<th>
				Reaction
			</th>
		</tr>
		<tr>
			<td>
				---
			</td>
			<td>
				Income
			</td>
			<td>
				Take 1 Coin
			</td>
			<td>
				X
			</td>
		</tr>
		<tr>
			<td>
				---
			</td>
			<td>
				Foreign aid
			</td>
			<td>
				Take 2 coins
			</td>
			<td>
				X
			</td>
		</tr>
		<tr>
			<td>
				---
			</td>
			<td>
				Coup
			</td>
			<td>
				Pay 7 coins <br>
				Choose player to lose influence
			</td>
			<td>
				X
			</td>
		</tr>
		<tr>
			<td>
				Duke
			</td>
			<td>
				Tax
			</td>
			<td>
				Take 3 coins
			</td>
			<td>
				Blocks Foreign Aid
			</td>
		</tr>
		<tr>
			<td>
				Assassin
			</td>
			<td>
				Assassinate
			</td>
			<td>
				Pay 3 coins <br>
				Choose player to lose influence
			</td>
			<td>
				X
			</td>
		</tr>
		<tr>
			<td>
				Ambassador
			</td>
			<td>
				Exchange
			</td>
			<td>
				Exchange cards <br>with Court Deck
			</td>
			<td>
				Blocks stealing
			</td>
		</tr>
		<tr>
			<td>
				Captin
			</td>
			<td>
				Steal
			</td>
			<td>
				Take 2 coins <br>
				from another player
			</td>
			<td>
				Blocks stealing
			</td>
		</tr>
		<tr>
			<td>
				Contessa
			</td>
			<td>
				X
			</td>
			<td>
				X
			</td>
			<td>
				Blocks assassination
			</td>
		</tr>

	</table>
</div>
<div class="input">
	<% if @game.current_player == current_user && @game.active_player == current_user%>
		<%= render(:partial => "games/your_turn") %> 
		<!-- contains logic for moves you can make on your turn -->
	<% end %>
	<div class="hidden" id="reactToCoup">
		<%= render(:partial => "games/react_to_coup") %>
	</div>
	<div class="hidden" id="reactToAssassin">
		<%= render(:partial => "games/react_to_assassin") %>
	</div><br>
	<div class="hidden" id="reactToFailedChallenge">
		<%= render(:partial => "games/react_to_failed_challenge") %>
	</div><br>
	<div class="hidden" id="bluffCalled">
		<%= render(:partial => "games/bluff_called") %>
	</div>
	<div class="hidden" id="claimContessa">
		<%= render(:partial => "games/claim_contessa") %>
	</div>
	<div class="hidden" id="reactToTheft">
		<%= render(:partial => "games/react_to_theft") %>
	</div>
	<div class="hidden" id="reactToForeignAid">
		<%= render(:partial => "games/react_to_foreign_aid") %>
	</div>
	<div class="hidden" id="reactToTax">
		<%= render(:partial => "games/react_to_tax") %>
	</div>
	<div class="hidden" id="reactToSuccessfulChallenge">
		<%= render(:partial => "games/react_to_successfull_challenge") %>
	</div>
	<div id="displayBlockInfo">
	</div>
	<div class="hidden" id="reactToBlockContessa">
		<%= render(:partial => "games/react_to_block", locals: {card: "Contessa"}) %>
	</div>
	<div class="hidden" id="reactToBlockForeignAid">
		<%= render(:partial => "games/react_to_block", locals: {card: "Duke"}) %>
	</div>
	<div class="hidden" id="reactToBlockTheftCaptin">
		<%= render(:partial => "games/react_to_block", locals: {card: "Captin"}) %>
	</div>
	<div class="hidden" id="reactToBlockTheftAmbassador">
		<%= render(:partial => "games/react_to_block", locals: {card: "Ambassador"}) %>
	</div>
	<div class="hidden" id="reactToExchange">
		<%= render(:partial => "games/react_to_exchange") %>
	</div>
</div>
<div class="your-cards">
Your Cards: <br>
<% if current_user.cards.length > 0 || current_user.game_id == nil %>
	<% current_user.cards.each do |card| %>
		<%= card.card_type %>
	<% end %>
<% else %>
	There was a problem dealing your cards, try refreshing the page
<% end %>
</div>
<%= javascript_tag do %>
	window.game = JSON.parse("<%= @game.to_json %>".replace(/&quot;/g,'"'));
	window.current_user = JSON.parse("<%= current_user.to_json %>".replace(/&quot;/g,'"'))
	window.challenge_url = "<%= challenge_url %>"
<% end %>
<%= javascript_include_tag "show" %>
<script>
	function challengeAction(card, action){
    	$.ajax({
        	type: "POST",
        	url: "<%= challenge_url %>",
        	data: {
            	card: card,
            	game_action: action
        	}
    	})
	}
</script>
<% if current_user.game_id == nil %>
	<script>
		pusher.unsubscribe("game_channel_number_" + game.id );
		location = "/static_pages/you_lose";
	</script>
<% end %>
