<!DOCTYPE html>
<html>
<head>

  <title>PusherGame</title>
 <%= stylesheet_link_tag    "application", media: "all" %>
 <%= javascript_include_tag 'application' %>
 <%= csrf_meta_tags %>
</head>
<body>
<div id="errors">
  <%= flash[:errors] %>
</div>
<% if current_user != nil %> 
<%= "Welcome #{current_user.nickname}" %>
<div class="hidden" id="id"><%= "#{current_user.id}" %></div>
<% end %>
<% if logged_in %>
	<form action="/users/<%= current_user.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <input type="submit" value="LOGOUT" class="submit">
  </form>
<% end %>

<%= yield %>

</body>
</html>
