<!DOCTYPE html>
<html>
<head>

  <title>PusherGame</title>
 <%= stylesheet_link_tag    "application", media: "all" %>
 <%= javascript_include_tag 'application' %>
 <%= csrf_meta_tags %>
</head>
<body>
<div id="errors">
  <%= flash[:errors] %>
</div>
<% if current_user != nil %> 
<%= "Welcome #{current_user.nickname}" %>
<div class="hidden" id="id"><%= "#{current_user.id}" %></div>
<% end %>

<%= yield %>

</body>
</html>
